{% for vm in groups['dns_servers'] %} 
    {% if vm not in groups ['dns_master'] %}
        nameserver {{ hostvars[vm]['ansible_default_ipv4']['address'] }}
    {% endif %}
{% endfor %}

search {{ fqdn }}
