server {
    listen 80 default_server;
    server_name _;
    
    # WEB SERVERS 
    {% if inventory_hostname in groups['web_servers'] %}
        location / {
            uwsgi_pass localhost:5000;
            include uwsgi_params;
        }
    {% endif %}

    # NODE EXPORTER
    location /node-metrics
        {
            proxy_pass http://localhost:{{ prometheus_exporters['node']['port'] }}/metrics;
        }

    # NGINX EXPORTER
    location /nginx-metrics
        {
            proxy_pass http://localhost:{{ prometheus_exporters['nginx']['port'] }}/metrics;
        }

    # BIND EXPORTER 
    {% if inventory_hostname in groups['dns_servers'] %}
        location /bind-metrics  {
            proxy_pass http://localhost:{{ prometheus_exporters['bind9']['port'] }}/metrics;
        }

    {% endif %}

    # Databases
    {% if inventory_hostname in groups['db_servers'] %}
        location /mysql-metrics  {
            proxy_pass http://localhost:{{ prometheus_exporters['mysql']['port'] }}/metrics;
        }
    {% endif %}

    # PROMETHEUS 
    {% if inventory_hostname in groups['prometheus'] %}
    location /prometheus
        {
            proxy_pass http://localhost:9090;
        }
    {% endif %}

    # GRAFANA 
    {% if inventory_hostname in groups['grafana'] %}
    location /grafana
        {
            proxy_pass http://localhost:3000;
        }
    {% endif %}
}

server {
    listen 8080 default_server;

    # STUB
    location = /stub_status {
        stub_status;
    }   
}