acl corpnets { {{ localnetwork }}; {{ localhost }}; };
options {
	directory "/var/cache/bind";

	forwarders {
    {% for ip in forwarders %} 
        {{ ip }};
    {% endfor %}
	};

	dnssec-validation no;

	allow-query { 
		{{ localhost_address }}; 
		{{ localnetwork }}; 
		{{ docker_network}}; 
    };
};

statistics-channels {
  inet {{ localhost_address }} port 8053 allow { {{ localhost_address }}; };
};

key "dns_update_key" {
	algorithm hmac-sha256;
	secret "{{ dns_update_key }}";
};

key "dns_transfer_key" {
	algorithm hmac-sha256;
	secret "{{ dns_transfer_key }}";
};
