options {
	directory "/var/cache/bind";

	forwarders {
    {% for ip in forwarders %} 
            {{ ip }};
    {% endfor %}
	};

	dnssec-validation no;

    allow-query { 
    {% for ip in acl %} 
            {{ ip }};
    {% endfor %}
    };
};