acl lan { 192.168.42.0/24; 127.0.0.0/8; };

options {
	directory "/var/cache/bind";

	forwarders {
	1.1.1.1;
        8.8.8.8;
        9.9.9.9;
        9.9.9.10;
	 };
    allow-query { 
        lan; 
    };
	dnssec-validation auto;
};