{% for zone in [fqdn, reverse_fqdn] %}
zone "{{ zone }}" {
{% if inventory_hostname in groups ['dns_master'] %}
    type primary;
    allow-update {key dns_update_key; };
    allow-transfer { {{ localhost_address }}; key dns_transfer_key; };
{% else %}
    type slave;
    masters { {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }}; };
{% endif %}
    file "db.{{ zone }}";
};
{% endfor %}

{% if inventory_hostname not in groups ['dns_master'] %}
server {{ hostvars[groups['dns_master'][0]]['ansible_default_ipv4']['address'] }} {
    keys { dns_transfer_key };
};
{% endif %}
