[Unit]
Description=Pinger service
After=network.target influxdb.service
Requires=influxdb.service

[Service]
Restart=always
RestartSec=1
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
