[Unit]
Description=Latency measurement tool
Documentation=https://github.com/romankuchin/ica0002-2021/blob/main/08-logging/lab.md
After=network-online.target

[Service]
User=pinger
ExecStart=/usr/local/bin/pinger

[Install]
WantedBy=multi-user.target
